/* CSS da página */

#contact-us {
    color: #F9995D;
}

#logo {
    padding-left: 100px;
}

#logo-text {
    font-family: 'Work Sans', sans-serif;
    color: #2947A9;
}

body {
    background: linear-gradient(71.88deg, #2947A9 -8.14%, #FFFFFF 123.34%) fixed;
}

#reasons {
    padding-top: 60px;
    padding-bottom: 90px;
}

#our-reputation {
    margin-bottom: 80px;
}

.reputation {
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}

#about-us, #reasons, #services, #experience, #projects,
#footer_top {
    background-color: #FFFFFF;
}

#about-us img {
    width: 902px;
}

#about-us button {
    color: #2947A9;
    font-weight: 700;
}

#about-us-box {
    background-color: #2947A9;
    color: #fff;
    height: 350px;
    width: 300px;
    font-size: 10px;
}

#services {
    background-color: #F6F8F7;
}

.service-content {
    height: 180px;
    width: 370px;
}

#experience h2 {
    font-weight: 700;
    font-size: 48px;
    color: #2947A9;
}

#experience p {
    font-weight: 400;
    font-size: 20px;
    color: #525B7A;
}

#experience button {
    color: #FFFFFF;
}

#get-consultation {
    background-image: url('../imgs/unsplash.svg');
    height: 300px;
}

#projects h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#projects li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    list-style-type: none;
}

#contact {
    background-color: #F6F8F7;
    font-family: 'Work Sans', sans-serif;
}

#contact h4 {
    font-weight: 700;
    font-size: 36px;
}

#contact p {
    font-weight: 400;
    font-size: 20px;
}

#contact .mandatory::placeholder {
    color: rgb(31, 12, 108);
    font-weight: bold;
    opacity: 0.6;
}

#contact button {
    background-color: #2947A9;
}