/* CSS da página */

#contact-us {
    color: #F9995D;
}

#logo {
    padding-left: 100px;
}

#logo-text {
    font-family: 'Work Sans', sans-serif;
    color: #2947A9;
}

body {
    background: linear-gradient(71.88deg, #2947A9 -8.14%, #FFFFFF 123.34%) fixed;
}

#reasons {
    padding-top: 60px;
    padding-bottom: 90px;
}

#our-reputation {
    margin-bottom: 80px;
}

.reputation {
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
}

#about-us, #reasons {
    background-color: #FFFFFF;
}

#about-us img {
    width: 902px;
}

#ziu {
    position: absolute;
    right: 112px;
    background-color: brown;
    width: 300px;
    height: 500px   ;
}